[submodule "hostname"]
	path = hostname
	url = git://github.com/fnichol/chef-hostname.git
[submodule "bashrc"]
	path = bashrc
	url = git://github.com/fnichol/chef-bashrc.git
[submodule "rvm"]
	path = rvm
	url = git://github.com/rosenfeld/chef-rvm.git
[submodule "rvm_passenger"]
	path = rvm_passenger
	url = git://github.com/fnichol/chef-rvm_passenger.git
[submodule "nginx_http_auth_pam"]
	path = nginx_http_auth_pam
	url = git://github.com/fnichol/chef-nginx_http_auth_pam.git
[submodule "ubuntu_nvidia_gpu"]
	path = ubuntu_nvidia_gpu
	url = git://github.com/fnichol/chef-ubuntu_nvidia_gpu.git
[submodule "xbmc"]
	path = xbmc
	url = git://github.com/fnichol/chef-xbmc.git
[submodule "vagrant_extras"]
	path = vagrant_extras
	url = git://github.com/fnichol/chef-vagrant_extras.git
[submodule "openoffice"]
	path = openoffice
	url = git://github.com/fnichol/chef-openoffice.git
[submodule "webapp"]
	path = webapp
	url = git://github.com/fnichol/chef-webapp.git
[submodule "mythtv"]
	path = mythtv
	url = git://github.com/fnichol/chef-mythtv.git
[submodule "transmission"]
	path = transmission
	url = git://github.com/fnichol/chef-transmission.git
[submodule "swftools"]
	path = swftools
	url = git://github.com/fnichol/chef-swftools.git
[submodule "gitorious"]
	path = gitorious
	url = git://github.com/rosenfeld/chef-gitorious.git
[submodule "jenkins"]
	path = jenkins
	url = git://github.com/fnichol/chef-jenkins.git
[submodule "homebrew"]
	path = homebrew
	url = git://github.com/mathie/chef-homebrew.git
